/* CSS for Template Summon UI */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    height: 90vh;
}

div.frame {
    height: 90vh;

}

#console {
    margin-left: 16%;
    margin-right: 14%;
    text-align: left;
    position: static;
    padding:2px;
    font-family:'HelveticaNeue-Light', sans-serif-light, Arial, sans-serif;
    font-size:12px;
    /* border: 2px solid blue; */
    color: #08f;
    /*left: 5px; */
    height: 30vh;
    overflow: auto;
}

#centralblees {

    /* border: 1px solid blue; */

    z-index: 2;
        border-bottom-right-radius: 2em;



}