[submodule "lab11_libs"]
	path = hardware/lab11_libs
    url = https://github.com/lab11/eagle.git
[submodule "software/nrf5x-base"]
	path = software/nrf5x-base
	url = https://github.com/lab11/nrf5x-base.git
